@font-face{font-family: "OpenSans";src: url("./../resources/fonts/OpenSans-Regular.ttf") format("truetype");}
@font-face{font-family: "Lato";src: url("./../resources/fonts/Lato-Regular.ttf") format("truetype");}

body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: "OpenSans", Arial;
	background-color: #DDDDDD;
}
a {
	color: #00405D;
}
img {
	max-width: 100%;
}

.contenedor {
	width: 100%;
	max-width: 900px;
	margin: auto;
	background-color: #FFFFFF;
}
.header_01 {
	width:90%;
	padding: 3% 5%;
	height: 45vh;
	max-height: 45vh;
	background:url(../resources/images/general/portada.jpg) no-repeat center;
	background-size: cover;
}
.header_02 {
	position: relative;
	width:90%;
	padding: 3% 5%;
	height: 25vh;
	min-height: 100px;
	max-height: 200px;
	color: #EEEEEE;	
	background: url(../resources/images/general/portada_02.jpg) no-repeat center;
}

.header_01 h1, .header_02 h1 {
	color: #FFFFFF;
	padding: 0;
	margin: 0;
	font-size:3em;
	line-height: 0.9em;
	text-shadow: 0px 0px 3px #111;
}
.h1_mini {
	font-size: 0.5em;
}

.nav_01 {
	width: 100%;
}
.nav_01 ul {
	padding: 0;
	list-style: none;
}
.nav_01 ul li {
	border-bottom: 1px solid #EEEEEE;
	padding: 10px 2px;
}

ul li b {
	width: 150px;
	display: inline-block;
	padding: 5px 0;
}

.nav_02 {
	width: 30px;
	height: 30px;
	line-height:30px;
	padding: 5px;
	color: #333;
	box-shadow: 0px 0px 3px #111;
	border-radius: 100px;
	line-height: 30px;
	text-align: center;
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-size: 0.75em;
	cursor:pointer;
	background: #fff url(../resources/images/general/menu.png) no-repeat center;
	background-size: 18px;
}

.section_01 {
	min-height: 25vh;
	padding: 25px 50px;
	background-color: #00405D;
	color: #EEEEEE;
}
.section_01 a {
	color: #FFFFFF;
	text-decoration: none;
}
.section_01 a:hover {
	color: #FFDB42;
}
.section_02 {
	min-height: 50vh;
	padding: 25px;
	background-color: #EEEEEE;
}
.article_01 {
	position:relative;
}
.footer_01 {
	min-height: 5vh;
	padding: 20px;
	background-color: #F3F3F3;
}